*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



.idea
.idea/*
/.idea/deploymentTargetDropDown.xml
/app/debug/
/app/release/
/app/dev/
/app/outputfile.txt
/app/prod/
#/app/roomSchemas/
/config/
/env/dev.properties
/env/prod.properties

# Sentry Config File
sentry.properties

# Sonar Config File
sonar-project.properties

.scripts

